<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700|Open+Sans&display=swap" rel="stylesheet">
	<link href="../style/stylepagestep.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<!-- HEADER SECTION -->
	<header>
		<nav class="navbar">
			<div class="logo">
				<a href="index.html">AfterAlyaGuide</a>
			</div>
			<ul class="menu">
				<li>
					<a href="index.html">Get Started</a>
				</li>
				<li>
					<a href="legaldocumentation.html">Legal Documentation</a>
				</li>
				<li>
					<a href="enrollulpan.html">Enroll in Ulpan</a>
				</li>
				<li>
					<a href="Healthcare.html">Healthcare</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="Contact.html">Contact</a>
				</li>
			</ul>
			<div class="buttons">
				<button class="login-button">Login</button> <button class="signup-button">Sign Up</button>
			</div>
		</nav>
	</header>

  <!-- BANNER SECTION  -->
	<section class="banner">
		<div class="banner-content">
			<h1><span class="highlighted-text">Register with the <span class="after-text">Population</span></span> Authority !</h1>
			<p>Your Guide to success In Israel</p>
		</div>
	</section>

  <!-- WELCOME SECTION  -->
	<section class="box-section-welcome">
		<div class="box-flex-container-welcome">
			<div class="box-welcome">
				<p>Upon your arrival in Israel, one of the earliest and most critical steps you need to take is registering with the Population and Immigration Authority, also known as "Misrad Hapnim."</p><br>
				<p>Registering with this authority is not only a legal requirement but also essential for accessing a range of services, including healthcare and employment.</p>
			</div>
			<div class="box-welcome"><img alt="Welcome Image" src="../img/Alyah%20israel%20etranger.png" width="400px"></div>
		</div>
	</section>

  <!-- 9 first step SECTION  -->
	<section class="box-section">
		<h2>To ensure a smooth registration process, here's what you need to do:</h2>
		<div class="divider9step"></div>
		<div class="box-flex-container">
			<div class="boxs">
				<h3>1 .Prepare Required Documentation:</h3><br>
				<p><strong>Passport:</strong> Make sure you have your valid passport with the entry stamp.</p><br>
				<p><strong>Visa Documentation:</strong>Have your visa or entry permit documentation ready.</p><br>
				<p><strong>Proof of Residency:</strong>Bring documents that prove your residency, such as a rental contract, utility bills, or an official letter from your host.</p>
			</div>
			<div class="boxs">
				<h3>2. Schedule an Appointment:</h3><br>
				<p>While some offices may allow walk-ins, it's strongly recommended to schedule an appointment in advance. This helps minimize wait times and ensures that you receive dedicated assistance.</p><a class="read-more" href="https://govisit.gov.il/en/offices/office/262?utm_source=go.gov.il&utm_medium=referral" target="_blank">Schedule here</a>
			</div>
			<div class="boxs">
				<h3>3. Visit the Misrad Hapnim Office:</h3><br>
				<p>On the day of your appointment, visit the nearest Misrad Hapnim office. The offices are located in major cities across Israel.</p><br>
				<p>Government officials at the office will guide you through the registration process and verify your documents.</p>
			</div>
			<div class="boxs">
				<h3>4. Registration Process:</h3><br>
				<p>You'll be required to fill out forms and provide the necessary documentation.</p><br>
				<p>The officials will take your photograph and collect your biometric data, which will be used to issue your Israeli ID card.</p>
			</div>
			<div class="boxs">
				<h3>5. Receive Your Israeli ID Card:</h3><br>
				<p>After successfully completing the registration process, you'll receive an Israeli ID card (Teudat Zehut).</p>
				<p>The Israeli ID card is a crucial identification document that you'll need for various official transactions and activities</p>
			</div>
			<div class="boxs">
				<h3>6. Legal Compliance:</h3><br>
				<p>Registering with the Population and Immigration Authority is not just a formality; it's a legal requirement. Failing to register within the designated timeframe could result in penalties or other complications.</p>
			</div>
			<div class="boxs">
				<h3>7. Keep Copies of Your Documents:</h3><br>
				<p>Make sure to keep both physical copies and digital scans of your registration-related documents in a safe place. These documents may be needed for future transactions or references.</p>
			</div>
		</div>
	</section>
	
   <!-- FOOTER  -->
	<footer class="footer">
		<div class="newsletter">
			<h3>Subscribe to our Newsletter</h3>
			<form>
				<input placeholder="Name" type="text"> <input placeholder="Email" type="email"> <input placeholder="Phone" type="tel">
				<div>
					<label><input class="checkbox-label" type="checkbox"> I confirm I am over 16 and I agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Notice</a>.</label>
				</div><br>
				<button type="submit">Subscribe</button>
			</form>
		</div>
		<hr>
		<div class="social-icons">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>
		</div>
		<nav class="footer-menu">
			<a href="get-started.html">Get Started</a> <a href="#">Housing</a> <a href="#">Jobs & Careers</a> <a href="#">Healthcare</a> <a href="#">Contact</a>
		</nav>
		<p class="copyright">© 2023 Your Company. All rights reserved.</p>
	</footer>
	
</body>
</html>