<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700|Open+Sans&display=swap">
    <link rel="stylesheet" href="stylegetstarted.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>

<body>
     <!-- HEADER SECTION -->


     <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html"> <!-- Replace with your home page link -->
                AfterAlyaGuide <!-- Replace with your logo image -->
                </a>
            </div>
            <ul class="menu">
                <li><a href="get-started.html">Get Started</a></li>
                <li><a href="#">Housing</a></li>
                <li><a href="#">Jobs & Careers</a></li>
                <li><a href="#">Healthcare</a></li>
                <li><a href="#">Contact</a></li>
                <!-- Add more menu items as needed -->
            </ul>
            <div class="buttons">
                <button class="login-button">Login</button>
                <button class="signup-button">Sign Up</button>
            </div>
            </nav>
      </header>


    <!-- BANNER SECTION  -->

      <section class="banner">
        <div class="banner-content">
            <h1><span class="highlighted-text">Thriving <span class="after-text">After</span></span> your Aliyah.</h1>
            <p>Your Guide to success In Israel</p>
        </div>
      </section>







      <footer class="footer">
        <div class="newsletter">
          <h3>Subscribe to our Newsletter</h3>
          <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="tel" placeholder="Phone">
            <div class="terms">
                <div class="checkbox-column">
                  <input type="checkbox" id="terms-checkbox">
                </div>
                <div class="text-column">
                  <label for="terms-checkbox">I confirm I am over 16 and I agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Notice</a>.</label>
                </div>
              </div>
            <button type="submit">Subscribe</button>
          </form>
        </div>
        <hr>
        <div class="social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <nav class="footer-menu">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </nav>
        <p class="copyright">© 2023 Your Company. All rights reserved.</p>
      </footer>

</body>

</html>