/* Reset some default styles */

body, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}
/* Basic styling for the header */

header {
	background-color: #ffffff;
	/* Set your header background color */
	color: #000000;
	/* Set text color */
	padding: 10px 0;
}
/* Basic font for the content text */

body {
	font-family: 'Open Sans', sans-serif;
	/* Global text font */
}
.navbar li {
	font-family: 'Montserrat', sans-serif;
	/* Menu font */
}
h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	/* Title font */
}
/* Styling for the navigation bar */

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 15px auto;
	padding: 0 20px;
}
/* Styling for the logo */

.logo img {
	height: auto;
	max-height: 50px;
	/* Set your desired logo height */
}
.logo a {
	text-decoration: none;
	color: black;
	font-weight: 700;
}
/* Styling for the navigation menu */

.menu {
	list-style: none;
	display: flex;
	gap: 30px;
	color: #000000;
}
.menu li {
	font-size: 16px;
}
.menu li a {
	text-decoration: none;
	color: #000000;
	/* Set link color */
	transition: color 0.3s;
}
.menu li a:hover {
	color: #00C2FF;
	/* Set link color on hover */
}
/* Styling for the buttons */

.buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}
.login-button, .signup-button {
	background-color: #00C2FF;
	/* Set button background color */
	color: #ffffff;
	/* Set button text color */
	font-size: large;
	border: none;
	padding: 8px 15px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.login-button:hover, .signup-button:hover {
	background-color: #0011fc;
	/* Set button background color on hover */
}
/* Responsive styles */

@media screen and (max-width: 770px) {
	.menu {
		display: none;
		/* Cacher l'élément */
		width: 0;
		/* Ajuster la largeur à zéro */
		height: 0;
		/* Ajuster la hauteur à zéro */
		padding: 0;
		/* Supprimer le padding */
		margin: 0;
		/* Supprimer les marges */
		/* Autres ajustements si nécessaire */
	}
	.banner {
		text-align: center;
		width: 100%;
		background-position-x: 50;
	}
}
/* Styling for the banner section */

.banner {
	background-image: url('../img/alyah\ alya\ alia\ israel.jpg');
	/* Set your banner image */
	background-size: cover;
	background-position: center;
	color: white;
	/* Set text color */
	text-align: center;
	display: flex;
	/* Use flexbox */
	align-items: center;
	/* Vertically center items */
	justify-content: center;
	/* Horizontally center items */
	min-height: 60vh;
	/* Ensure the banner takes at least the full viewport height */
}
.banner-content {
	justify-content: space-between;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}
/* New styling for the underlined text */

.highlighted-text {
	position: relative;
	display: inline-block;
}
.after-text {
	background-color: #00C2FF;
	/* Set the background color for the highlight */
	color: white;
	/* Set text color for the word "After" */
	padding: 0 5px;
	/* Adjust padding as needed */
	font-weight: bold;
	/* Make the "After" text bold */
}
.banner h1 {
	font-size: 36px;
	margin-bottom: 20px;
}
.banner p {
	font-size: 18px;
	margin-bottom: 30px;
}
.cta-button {
	display: inline-block;
	background-color: #ffc107;
	/* Set button background color */
	color: white;
	/* Set button text color */
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: background-color 0.3s;
}
.cta-button:hover {
	background-color: #ff9800;
	/* Set button background color on hover */
}
/* Existing styles */

/* New styling for the welcome section */

.welcome-section {
	display: flex;
	flex-wrap: wrap;
	background-color: #f5f5f5;
	/* Set background color */
	padding: 80px 0;
	/* Adjust padding as needed */
}
.welcome-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.welcome-content h2 {
	font-size: 28px;
	margin-bottom: 20px;
}
.columns {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	/* Adjust gap between columns */
}
.column {
	flex: 1;
	min-width: calc(50% - 20px);
	/* Adjust width of columns */
}
.image img {
	max-width: 100%;
	height: auto;
}
/* Styling for the box section */

.box-section-welcome {
	background-color: white;
	padding-top: 80px;
	padding-left: 75px;
	padding-right: 75px;
	text-align: center;
}
.box-flex-container-welcome {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin-top: 20px;
	padding: 25px 25px;
}
.box-welcome {
	flex-basis: calc(50%);
	/* Adjust for gap between boxes */
	padding: 20px 20px!important;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	box-sizing: border-box;
	/* Include padding and border in box size */
}
.box-welcome img {
	text-align: center;
}
.box-welcome p {
	font-size: 20px;
}
/* Responsive styles */

@media screen and (max-width: 950px) {
	.box-flex-container-welcome {
		flex-direction: column;
		/* Change to a single column layout on smaller screens */
	}
}
/* Responsive styles */

@media screen and (max-width: 450px) {
	.box-welcome {
		width: 100%;
		flex-basis: 100%;
		/* Take up full width on smaller screens */
		margin-bottom: 20px;
		/* Add margin between boxes on smaller screens */
	}
}

@media screen and (max-width: 550px) {
	.box-flex-container-welcome {
		flex-direction: column;
		/* Change to a single column layout on smaller screens */
	}

.box-welcome img {
    display: none;
  }

}
/* Responsive styles */




.centered {
	align-items: center!important;
	text-align: center;
	font-size: 28px;
	margin-bottom: 10px;
}
.divider {
	width: 80px;
	height: 8px;
	background-color: #00C2FF;
	margin: 0 auto 25px;
	border-radius: 4px;
}

.divider9step {
	width: 80px;
	height: 8px;
	background-color: #ffffff;
	margin: 0 auto 25px;
	border-radius: 4px;
	margin-top: 15px;
}
.read-more {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #00C2FF;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}


/* Styling for the box section */

.box-section {
	background-color: #00c3ff8c;
	padding: 80px 50px;
	text-align: center;
}
.box-flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin-top: 20px;
}
.boxs {
	flex-basis: calc(33.33% - 20px);
	/* Adjust for gap between boxes */
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	box-sizing: border-box;
	/* Include padding and border in box size */
}
/* Responsive styles */

@media screen and (max-width: 768px) {
	.box-flex-container {
		flex-direction: column;
		/* Change to a single column layout on smaller screens */
	}
	.boxs {
		flex-basis: 100%;
		/* Take up full width on smaller screens */
		margin-bottom: 20px;
		/* Add margin between boxes on smaller screens */
	}
}
.footer {
	background-color: #36384E;
	color: #fff;
	padding: 40px;
	text-align: center;
}
.newsletter {
	margin-bottom: 20px;
}
.newsletter h3 {
	margin-bottom: 10px;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form input {
	flex-wrap: wrap;
	margin: 5px 0;
	padding: 10px;
	width: 30%;
	border: none;
	border-radius: 5px;
}
form button {
	padding: 10px 20px;
	margin-top: 15px;
	background-color: #00c2ff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.social-icons {
	margin-bottom: 20px;
	color: #fff;
}
.social-icons a {
	margin: 0 10px;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

.footer-menu {
	margin-bottom: 20px;
}
.footer-menu a {
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
}
.copyrigh {
	margin-bottom: 0;
}

.checkbox-label {
	align-items: center;
	color: #fff;
	margin: 5px 0;
	padding: 10px;
	width: 5%;
	border: none;

  }

label{
	display: f;
	font-size: 12px;
  }

label a {
	text-align: center;
	color: #00c2ff;
	text-decoration: none;
}
/* Rest of your existing styles */